New Day Form

<%= form_for [@season, @day] do |f| %>
  <div class="new-form">
    <%= f.label :date, 'Date' %>
    <%= f.text_field :date %>
    <%= f.label :weather, 'Weather' %>
    <%= f.text_field :weather %>
    <%= f.label :location, 'Location' %>
    <%= f.text_field :location %>
    <%= f.label :notes, 'Notes' %>
    <%= f.text_field :notes %>
  </div>

  <div class="actions">
    <%= f.submit 'Add New day', class: 'button tiny'%>
  </div>
<% end %>
