<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <%= render "/layouts/topbar" %>
    </div>

    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>

    <div class="row">
      <nav class="breadcrumbs">
        <%= link_to 'Home', root_path %>
        <% if session[:user_id] %>
          <%= link_to 'My Index', user_seasons_path(session[:user_id]) %>
        <% end %>
        <% if @user %>
          <%= link_to 'All Seasons Index (Current User)', user_seasons_path(@user) %>
          <% if @season.id %>
            <%= link_to 'Season Days Index (Current User)', user_season_path(@user, @season) %>
          <% end %>
        <% end %>
        <!-- <a class="unavailable" href="#">Gene Splicing</a>
        <a class="current" href="#">Cloning</a> -->
      </nav>
    </div>

    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
